[submodule "packages/home/.vim/bundle/ctrlp.vim"]
	path = packages/home/.vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "packages/home/.vim/bundle/minibufexpl.vim"]
	path = packages/home/.vim/bundle/minibufexpl.vim
	url = git@github.com:fholgado/minibufexpl.vim.git
