[submodule "packages/home/.vim/bundle/ctrlp.vim"]
	path = packages/home/.vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "packages/home/.vim/bundle/minibufexpl.vim"]
	path = packages/home/.vim/bundle/minibufexpl.vim
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "packages/home/.vim/bundle/nerdcommenter"]
	path = packages/home/.vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "packages/home/.vim/bundle/nerdtree"]
	path = packages/home/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "packages/home/.vim/bundle/syntastic"]
	path = packages/home/.vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "packages/home/.vim/bundle/tagbar"]
	path = packages/home/.vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "packages/home/.vim/bundle/vim-latex"]
	path = packages/home/.vim/bundle/vim-latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
[submodule "packages/home/.vim/bundle/vim-colors-solarized"]
	path = packages/home/.vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "packages/home/prezto"]
	path = packages/home/prezto
	url = git@github.com:sorin-ionescu/prezto.git
