[submodule "packages/home/.vim/bundle/Vundle.vim"]
	path = packages/home/.vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "packages/home/.tmux/plugins/tpm"]
	path = packages/home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
